BODY {
	MARGIN: 0px;
	FONT-FAMILY: "宋体", "Century Gothic", Arial, Helvetica;
	color: #55565A;
	SCROLLBAR-FACE-COLOR: #F8F7F8;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #bac7db;
	SCROLLBAR-3DLIGHT-COLOR: #bac7db;
	SCROLLBAR-ARROW-COLOR: #81b0d4;
	SCROLLBAR-TRACK-COLOR: #f4f7fa;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	background-color: #EFEFEF !important;
}
.lynrc,#nr{
SCROLLBAR-FACE-COLOR: #F8F7F8; 
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-SHADOW-COLOR: #bac7db; 
SCROLLBAR-3DLIGHT-COLOR: #bac7db;
SCROLLBAR-ARROW-COLOR: #81b0d4; div.ystop
SCROLLBAR-TRACK-COLOR: #f4f7fa;
SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
#kjbt{display:none !important;}
.tdtop {
	background-color: #E5E5E5;
}
.ystop #sylj{padding-top:0px !important;margin-top:180px !important;text-align:center;}
.ystop #sylj A{
	display:inline-block;
	padding:2px;
	color: #55565A;
}
.ystop{
	height:200px !important;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: #EFEFEF !important;
	background-position: center top;
	background-repeat: no-repeat;  
    background-size: 100% 100%; 
    -webkit-background-size: 100% 100%; 
}
.ta_wjq {
	COLOR: #000;
	background-image: url("ta_wjq.gif");
	height: 24px !important;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-left-color: #000;
}
#buyh{
	padding-top: 2px;
	padding-bottom: 2px;
}
.tx3 {
	BACKGROUND-COLOR: #F8F7F8;
	HEIGHT: 18px;
	COLOR: #55565A;
	FONT-SIZE: 9pt;
	border: 1px solid #AAAAAA;
}
.lynrc button,#buyh input,.BT2,#idwj1 button {
	HEIGHT: 20px;
	FONT-SIZE: 9pt;
	CURSOR: hand;
	color: #55565A;
	background-color: #F8F7F8;
	border: 1px solid #55565A;
}
#nr {
	BACKGROUND-COLOR: #F8F7F8;
	WIDTH: 220px;
	FONT-FAMILY: "宋体", "Century Gothic", Arial, Helvetica;
	HEIGHT: 55px;
	COLOR: #55565A;
	FONT-SIZE: 9pt;
	border: 1px solid #AAAAAA;
}
.lynrc {
	background-color:#F6F3EB !important;
	border:1px solid #000;
	color:#9ACD32 !important
}
.lynrc P {
	BACKGROUND: url("lynrc_P.gif") 0em -0.1em
}
#ysmenu1 {
	BACKGROUND-COLOR: #F6F3EB !important;
	MARGIN-TOP: 0px;
	WIDTH: 255px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E3E3E3;
	border-right-color: #E3E3E3;
	border-bottom-color: #E3E3E3;
	border-left-color: #E3E3E3;
	background-repeat: no-repeat;
	background-position: 218px -7px;
}
.ysm0 {
	BACKGROUND-COLOR: #55565A;
	MARGIN-TOP: 2px;
	HEIGHT: 20px;
	PADDING-TOP: 3px;
	border: 1px solid #E1E1E1;
	color: #FFF;
}
.ysm0x {
	BACKGROUND-COLOR: #F8FBF;
	MARGIN-TOP: 2px;
	HEIGHT: 20px;
	PADDING-TOP: 3px;
	border: 1px solid #55565A;
	color: #FFF;
}
.ysm1 {
	BACKGROUND-COLOR: #F6F3EB;
	MARGIN-TOP: 1px;
	HEIGHT: 21px;
	PADDING-TOP: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E1E1E1;
	border-right-color: #E1E1E1;
	border-bottom-color: #F6F3EB;
	border-left-color: #E1E1E1;
	color: #55565A;
}
DIV.ysm0 A:hover {
	BACKGROUND-COLOR: #55565A;
	color: #FFF;
}
.a1 {
	COLOR: #55565A;
	FONT-SIZE: 9pt
}
#menuList LI {
	LINE-HEIGHT: 140%;
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #55565A;
}

DIV.yszdyq {
	MARGIN-LEFT: 5px;
	FONT-SIZE: 9pt;
	MARGIN-RIGHT: 5px;
	background-color: #F6F3EB;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #55565A;
	border-bottom-color: #55565A;
	border-left-color: #55565A;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #55565A;
}
.z_bt {
	WORD-WRAP: break-word;
	COLOR: #FFF;
	OVERFLOW: hidden;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #55565A;
	background-color: #55565A;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #55565A;
}
.z_bo {
	PADDING-BOTTOM: 0px;
	BACKGROUND-COLOR: #F6F3EB;
	PADDING-LEFT: 0px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	WORD-WRAP: break-word;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}
.z_bo UL {
	PADDING-BOTTOM: 1px;
	BACKGROUND-COLOR: #F6F3EB;
	LIST-STYLE-TYPE: none;
	MARGIN: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px
}
.fgg1 { background-color: #EFEFEF; }
    .fgg1 .dqcd, .fgg1 #ysmenu1 { background-color: #F6F3EB; }
    .fgg1 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg1 .cdq div:hover { background-color: #F6F3EB;}
    .fgg1 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
.fgg2 { background-color: #EFEFEF; }
    .fgg2 .dqcd, .fgg2 #ysmenu1 { background-color: #F6F3EB; }
    .fgg2 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg2 .cdq div:hover { background-color: #F6F3EB;}
    .fgg2 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
.fgg3 { background-color: #EFEFEF; }
    .fgg3 .dqcd, .fgg3 #ysmenu1 { background-color: #F6F3EB; }
    .fgg3 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg3 .cdq div:hover { background-color: #F6F3EB;}
    .fgg3 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
.fgg4 { background-color: #EFEFEF; }
    .fgg4 .dqcd, .fgg4 #ysmenu1 { background-color: #F6F3EB; }
    .fgg4 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg4 .cdq div:hover { background-color: #F6F3EB;}
    .fgg4 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
.fgg5 { background-color: #EFEFEF; }
    .fgg5 .dqcd, .fgg5 #ysmenu1 { background-color: #F6F3EB; }
    .fgg5 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg5 .cdq div:hover { background-color: #F6F3EB;}
    .fgg5 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
.fgg6 { background-color: #EFEFEF; }
    .fgg6 .dqcd, .fgg6 #ysmenu1 { background-color: #F6F3EB; }
    .fgg6 .cdq div { background-color:#A9A9A9;border: 1px solid #000 !important;color: #000 !important }/*背景*/
        .fgg6 .cdq div:hover { background-color: #F6F3EB;}
    .fgg6 .cdq .dqcd { border-bottom: 1px solid #F6F3EB !important; background-color: #F6F3EB; }
#menuList li.gml{padding:3px 0;}
#nr {background:url('ly.gif') center center no-repeat #f5f5f5;
#dzx{position: relative;}
